# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Output Files
output/

# Operating System
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Environment Variables
.env